.counter-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count {
    font-size: 30px;
    margin: 0 15px;
}
button {
    padding: 10px 15px;
    cursor: pointer;
}
.bgimg {
    background-image:
    url("../images/banner_sec_bg.png"
    );
    height: 100%;
    width:100%;
    top:0px;
    left:0px;
    position:relative;
      
     background-repeat:no-repeat;
    }

    .bgimg2 {
        background-image:
        url("../images/documentbg.png"
        );
        min-height: 100vh;
    
    align-items: center;
  
    background-repeat:no-repeat;
        }
    
        .bgimg3 {
            background-image:
            url("../images/faq.jpg"
            );
            height: 100vh;
            background-position: center;
           
            background-repeat:no-repeat;
            }
    
            .bgimg4 {
                background-image:
                url("../images/image-third.png"
                );
                height: 100vh;
                background-position: center;
               
                background-repeat:no-repeat;
                }
    
                .bgimg5 {
                    background-image:
                    url("../images/mission.jpg"
                    );
                    height: 100vh;
                    background-position: center;
                   
                    background-repeat:no-repeat;
                    }
                    
    